@font-face {
  font-family: 'HYQiHei-40J';
  src: url('../font/HYQiHei-40J.ttf')
}
@font-face {
  font-family: 'HYQiHei-60J';
  src: url('../font/HYQiHei-60J.ttf')
}
@font-face {
  font-family: 'HYQiHei-105J';
  src: url('../font/HYQiHei-105J.ttf')
}
@font-face {
  font-family: 'HYRunYuan-35J';
  src: url('../font/HYRunYuan-35J.ttf')
}
@font-face {
  font-family: 'HYRunYuan-75J';
  src: url('../font/HYRunYuan-75J.ttf')
}
@font-face {
  font-family: 'HYTieXianHei-55J';
  src: url('../font/HYTieXianHei-55J.ttf')
}
@font-face {
  font-family: 'HYTieXianHei-85J';
  src: url('../font/HYTieXianHei-85J.ttf')
}
@font-face {
  font-family: 'HYWenHei-45J';
  src: url('../font/HYWenHei-45J.ttf')
}
@font-face {
  font-family: 'HYWenHei-85J';
  src: url('../font/HYWenHei-85J.ttf')
}
@font-face {
  font-family: 'HYXiYuanJ';
  src: url('../font/HYXiYuanJ.ttf')
}
@font-face {
  font-family: 'HYXiZhongYuanJ';
  src: url('../font/HYXiZhongYuanJ.ttf')
}
@font-face {
  font-family: 'HYYuanLongHei-35J';
  src: url('../font/HYYuanLongHei-35J.ttf')
}
