
    .video {
      width: 540px;
      height: 400px;
        position: relative;
    }
    .video__player {
        width: 100%;
        height: 100%;
        display: flex;
    }
    .controller {
        flex-direction: column;
        height: 50px;
        position: absolute;
        bottom: -1;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
    }
    .controller__btn-wrapper {
        position: relative;
        height: calc(100% - 5px);
        display: flex;
        align-items: center;
        color: #fff;
        padding: 0 18px;
    }
    .controller__btn {
        cursor: pointer;
        transition: 0.5s;
        margin: 0 20px;
    }
    .controller__btn:hover {
         color: #409eff;
    }
    .controller__timer {
        margin-left: 15px;
    }
    .controller__btn--fullscreen {
        position: absolute;
        right: 15px;
    }
    .controller__progress-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .controller__progress {
        height: 5px;
        position: relative;
        width: calc(100% - 30px);
        border-radius: 100px;
        background: #dcdcdc;
        cursor: pointer;
    }
    .controller__progress--passed {
        position: absolute;
        top: 0;
        left: 0;
        background: #409EFF;
    }
    .controller__dot {
        position: absolute;
        z-index: 50;
        left: 0;
        top: -5px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .controller__inner-dot {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #409EFF;
    }